extends layout

block content
  h1.
    ~ #{title} ~ <br /> <br /> 
    Welcome back! <br /> 
    
  ul
    each x, i in validlist
      h4 Matching user #{i+1}
      li user: #{x.user}
      li pass: #{x.pass}

  p <br />
  a(href="http://localhost:3000/userlist") Return to userlist
  p<br />
  a(href="http://localhost:3000") Go Home