extends layout

block content
  h1.
    #{title} <br />
    Login credentials not valid!
  p <br />
  a(href="http://localhost:3000/userlist") Try Again
  p <br />
  a(href="http://localhost:3000") Go Home
