extends layout

block content
    h1.
        Login (Try user: test and pass: test) <br />

    form#formAddUser(name="validuser",method="post",action="/validuser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPass(type="text", placeholder="password", name="password")
        button#btnSubmit(type="submit") login

    a(href="http://localhost:3000/newuser ") Add User
    p <br />
    a(href="http://localhost:3000") Go Home